.main-layout {
    background: #121829;
    min-width: 1440px;
    min-height: 3192px;
    width: 100%;
    height: 100%;
    opacity: 0px;
    background-image: url('../../assets/main-layout.svg');
    background-size: contain;
    overflow: hidden;
    position: relative;
}
